.messages_container {

}

.messages {
    background-color: #fff;
    width: 600px;
    margin: 16px auto;
}

:global(.is-mobile) .messages {
    padding-bottom: 36px;
}

.message {
    border-bottom: 1px solid #ddd;
    padding: 16px;
    display: flex;
    align-items: center;
}

.title {
    font-weight: 600;
    margin: -20px 0 0 56px;
}

.date {
    font-size:12px;
    flex:1;
    text-align: right;
}
