.article {
    background-color: #fff;  
    padding:0 16px;
    border-radius: 8px;
    position: relative;
    width: 600px;
    margin:0 auto;
}

:global(.is-mobile) .post { 
    border-radius: 0;
}

.header {
    margin-bottom: 8px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
}

.meta {
    display:flex;
    align-items: center;  
    margin-bottom: 4px; 
    margin-top: -18px; 
    font-size: 13px;
    color: #875;
    padding-left: 54px;
    position: relative;
    z-index: 20;
}

:global(.is-mobile) .meta { 
    flex-wrap: wrap;
}

.meta * {
    color: inherit;
    font-size: inherit;    
    padding: 0 0 0 4px !important;
    text-decoration: none;
}

.title {
    font-weight: 600;
    font-size: 20px;
    margin-top: 16px;
}

.content {
    padding: 16px 0;

    border-bottom: 1px solid #ddd;
}

:global(.is-mobile) .content { 
    padding-left: 0;
}

.comments {    
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
