.user {
    display: flex;
    align-items: flex-start;
}

.avatar {
    width:32px;
    height:32px;
}

.avatar img {
    width:100%;
    height:100%; 
    border-radius: 50%;
}

.name {
    margin-left:8px;
    color: #0094EF;
    font-weight: 600;
}