.course_nav {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    border-bottom: 1px solid #e0e0e0;
    background-color: #fff;
    box-sizing: border-box;
}

.course_nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.course_nav ul li {
    display: block;
}

.course_nav ul li .selected {
    background-color: #f3f3f3;
    font-weight: 600;
}

.course_nav ul li * {
    padding: 0;
    line-height: 36px;
    border-right: 1px solid #e0e0e0;
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 0 16px;
    box-sizing: border-box;
    line-height: 36px;
    color: inherit;
    text-decoration: none;
}
