.add_comment {
    margin: 16px 0 0;
    display: flex;
    align-items: center;
}

.comment_textarea {
    flex: 1 1;
    background-color: #f2f2f2;
    padding:16px 24px ;
    border-radius: 12px;
    margin-left: -8px;
}

.content_input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    min-height: 16px;
    font-family: inherit;
    font-size: 14px;
    padding: 6px 8px;
    border-radius: 4px;
    outline: none;
    border-color: #ccc;
    transition: all .16s;
}

.content_input:focus {
    border-color: #3C9AF4;
    box-shadow: 0 0 3px rgba(60, 154, 244, .6);
}
