.add_comment {
    display: flex;
    align-items: center;
    /* border-top: 1px solid #ddd; */
    padding: 0 16px;
}

.comment_textarea {
    flex: 1 1;
    background-color: #f2f2f2;
    padding: 16px 16px 16px 64px;
    /* border-radius: 12px; */
    /* margin-left: -48px; */
    padding: 12px;    
    padding: 8px;
    border-radius: 18px;
    margin-left: 4px;
}

.content_input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    min-height: 16px;
    font-family: inherit;
    font-size: 14px;
    padding: 6px 8px;
    border-radius: 4px;
    outline: none;
    border-color: #ccc;
    border-color: transparent;
    transition: all .16s;
    background-color: inherit;
}

.content_input:focus {
    border-color: #3C9AF4;
    border-color: transparent;
    /* box-shadow: 0 0 3px rgba(60, 154, 244, .6); */
}
