.comment {
    background-color: #f0f0f0;
    padding: 12px;
    border-radius: 8px;
    margin-top: 16px;
    font-size: 14px;
}

.content {
    margin-left: 40px;
}

.created_at {
    color: #666;
    font-size: 12px;
    margin-bottom: 4px; 
    margin-top: -12px;
    padding-left: 40px;
}