.comment {
    font-size: 14px;
    padding: 12px 16px 8px;
}

.header {
    display: flex;
    align-items: center;
}

.content {
    padding: 32px 12px 12px 64px;
    /* border-radius: 12px; */
    margin: -50px 0 0 -8px;
    padding: 32px 12px 12px 8px;
    padding: 32px 12px 12px 12px;
    border-radius: 18px;
    margin: -50px 0 0 44px;
    background-color: #f2f2f2;
}

.created_at {
    color: #666;
    font-size: 12px;
    margin-left: 4px;
    margin-top: -20px;
}