.comment {
    margin-top: 24px;
    font-size: 14px;
}

.header {
    display: flex;
    align-items: center;
}

.content {
    background-color: #f2f2f2; 
    padding:32px 12px 12px 18px;
    border-radius: 12px;
    margin:-42px 0 0 24px;
}

.created_at {
    color: #666;
    font-size: 12px;
    margin-left: 4px;
    margin-top: -12px;
}