.content {
    max-width: 400px;
    margin: 80px auto;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 16px;
}

.profile_image {
    width: 150px;
    height: 150px;
    margin: 32px auto 12px;
}

.profile_image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.profile_image_nav_container {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}

.profile_image_nav {
    display: flex;
    align-items: center;
}

.profile_image_nav a {
    flex: 0 0 auto;
    font-size: 13px;
    width: 52px;
    text-align: center;
    cursor: pointer;
    padding: 4px 16px;
    color: #444;
    border-radius: 4px 0 0 4px;
    border: 1px solid #777;
}

.profile_image_nav a.SELECTED {
    background-color: #777;
    color: #fff;
}

.profile_image_nav a:first-child {
    border-right: 0;
}

.profile_image_nav a:last-child {
    border-radius: 0 4px 4px 0;
    border-left: 0;
}

.profile_image_explainer {
    color: #333;
    text-align: center;
    font-style: italic;
    font-size: 14px;
    margin-bottom: 32px;
}

.attribute {
    margin: 16px;
}

.attribute_value textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    min-height: 40px;
    font-family: inherit;
    font-size: inherit;
    padding: 8px;
    border-radius: 4px;
    outline: none;
    height: 40px;
    border-color: #ccc;
    transition: height .4s ease;
}

.save {
    text-align: center;
    margin: 24px 16px 16px;
}