.notifications_container {
    max-width: 640px;
    margin: 80px auto;
    background-color: #fff; 
    border-radius: 8px;
    border: 1px solid #ddd;
    padding:16px 0;
}

.notifications_container h2 {
    margin-top: 48px;
    margin-bottom: 16px;
    font-weight: 600;
}

.notifications_container h2 {
    margin-top: 48px;
    margin-bottom: 16px;
    font-weight: 600;
}

.notification_settings {
    text-align: right;
    padding: 6px 32px;
    font-size:14px;
}

.notification_settings_link {
    color:#0079f2;
}


.notification_listheader {
    display: flex;
}

.notification_title {
    flex:1;
    padding: 16px 0 4px 32px;
    margin: 0;
    margin-top: 16px;
    font-weight: 600;
}

.notification_mark_read_link {
    padding: 16px 32px 4px 16px;
    margin: 0;
    margin-top: 16px;
    font-weight: normal;
    font-size: 14px;
    cursor: pointer;
}

.notification {
    padding: 12px 32px;
    cursor: pointer;
    background-color: #fff;
}

.notification_header {
    display: flex;
}

.notification_avatar {
    border: 1px solid #f2f2f2;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 12px;
    text-align: center;
    background-color: #CBEEFA;
}

.notification_group_expanded .notification_avatar {
    background-color: #CBEEFA;
}


.notification_avatar_image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.notification_content {
    flex: 1; 
    text-decoration: none;
    color: #000;
}

.notification_content_new {
    font-weight: 600; 
    flex: 1;
    text-decoration: none;
    color: #000;
}

.notification_meta {
    margin-left: 54px;
    margin-top: -22px;
    color: #777;
    font-size:14px;
}

.notification_new_indicator {
    background-color: #0094EF;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-top: 20px;
}


.notification_expand {
    background-image: url(/icons/expand.png);
    width: 20px;
    height: 20px;
    background-size: 20px;
    display: block;
    background-repeat: no-repeat;
    border-radius: 50%;
    padding-right: 8px;
    background-position: center;
}

.notification_collapse {
    background-image: url(/icons/collapse.png);
    width: 20px;
    height: 20px;
    background-size: 20px;
    display: block;
    background-repeat: no-repeat;
    border-radius: 50%;
    padding-right: 8px;
    background-position: center;
}

.notification_group_expanded .notification  {
    background-color: #f2f2f2;
}

.notification_group_items_collapsed {
    display: none;
}

.notification_group_items_expanded {
    display: block;
}

.notifications hr {
    background-color: #ddd;
    margin: 32px 0 0 0;
    color: #ddd;
}

.divider {
    border-top: 1px solid #ddd;
    margin-top: 32px;
}

.load_notifications {
    text-align: center;
    margin:32px 0;
    font-weight: 600;
}

