.content {
    max-width: 640px;
    margin: 80px auto;
    background-color: #fff; 
    border-radius: 8px;
    border: 1px solid #ddd;
    padding:16px;
}

.content h2 {
    margin-top: 48px;
    margin-bottom: 16px;
    font-weight: 600;
}

.notification_listheader {
    display: flex;
}

.notification_title {
    flex:1;
    padding: 16px 0 4px 16px;
    margin: 0;
    margin-top: 16px;
    font-weight: 600;
}

.notification_link {
    padding: 16px 0 4px 16px;
    margin: 0;
    margin-top: 16px;
    font-weight: normal;
    font-size: 14px;
    cursor: pointer;
}

.notification {
    padding: 12px;
    cursor: pointer;
    background-color: #fff;
}

.notification_header {
    display: flex;
}

.notification_avatar {
    border: 1px solid #f2f2f2;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 12px;
    text-align: center;
    background-color: #CBEEFA;
}

.reminder {
    width: 20px;
    height: 20px;
    position: relative;
    top:14px;
}

.notification_bell {
    width: 22px;
    height: 22px;
    margin-top: 13px;
}

.notification_avatar_image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.notification_content {
    /* font-weight: 600; */
    flex: 1; 
    text-decoration: none;
    color: #000;
}

.notification_content_new {
    font-weight: 600; 
    flex: 1;
    text-decoration: none;
    color: #000;
}

.notification_meta {
    margin-left: 54px;
    margin-top: -22px;
    color: #777;
    font-size:14px;
}

.notification_new_indicator {
    background-color: #0094EF;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-top: 20px;
}


.notification_expand {
    background-image: url(/icons/expand.png);
    width: 20px;
    height: 20px;
    background-size: 20px;
    display: block;
    background-repeat: no-repeat;
    border-radius: 50%;
    padding-right: 8px;
    background-position: center;
}

.notification_collapse {
    background-image: url(/icons/collapse.png);
    width: 20px;
    height: 20px;
    background-size: 20px;
    display: block;
    background-repeat: no-repeat;
    /* background-color: #f2f2f2; */
    border-radius: 50%;
    padding-right: 8px;
    background-position: center;
}

.notification_actions {
    background-image: url(/icons/ellipsis.png);
    width: 28px;
    height: 28px;
    background-size: 28px;
    display: block;
    background-repeat: no-repeat;
    /* background-color: #f2f2f2; */
    border-radius: 50%;
    background-position: center;
    opacity: 0.7;
}

.notification_group_collapsed {
    display: none;
}

.notification_group_expanded {
    display: block;
}

.load_notifications {
    text-align: center;
    margin:32px 0;
    font-weight: 600;
}

