.content {
    max-width: 800px;
    margin: 100px auto 8px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 16px;
    box-sizing: border-box;
}


.user {
    position: relative;
    padding: 16px;
    border-bottom: 1px solid #ddd; 
}

.user:last-child {
    border-bottom: none; 
}


.name {
    margin: 0 16px;
    font-weight: 600;
}

.header {
    display: flex;
    cursor: pointer;
}

.avatar {
    width: 40px;
    height: 40px;
}

.avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.note {
    font-size: 13px;
    margin-left: 56px;
    margin-top: -18px;
}

.link_to_profile {
    color: #000;
    text-decoration: none;
    border: 1px solid #ddd;
    display: block;
    margin-top: 8px;
    padding: 8px;
    border-radius: 6px;
    text-align: center;
}