.header {
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 44px;
    padding: 0 16px 0 10px;
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
    z-index: 100;
}

.sidebar_open {
    left: 248px;
}

.left_panel {
    flex: 1 1 auto;
}

.right_panel {
    flex: 0 0 auto;
}

.title {
    font-weight: 600;
}

button {
    padding: 0px 12px 2px;
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
    font-family: inherit;
    font-size: 18px;
    line-height: inherit;
    outline: 0;
    margin: 0 8px 0 0;
    text-align: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, .1);
    -moz-appearance: none;
    -webkit-appearance: none;
    /* vertical-align: baseline; */
}