.sidebar {
    width:248px;
    background-color: #222;
    box-sizing: border-box;;
    padding: 7px 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom:0;
    color: #c5c5c5;
}

.sidebar ul {
    padding: 0;
    margin: 0;
}

.sidebar li {
    list-style: none;
    padding: 0;
}

.sidebar li h4 {
    margin: 0;
    padding: 24px 8px 8px 12px;
}

.sidebar li a {
    display: block;
    padding: 8px 8px 8px 12px;
    color: inherit;
    text-decoration: none;
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-tap-highlight-color: rgba(255,255,255,.09);
}

.sidebar li a.current {
    background-color: rgba(255,255,255,.16);
    color: #fff;
}

.sidebar li a:hover {
    background-color: rgba(255,255,255,.16);
    color: #fff;
}
