.add_post {
    margin: 32px 0 32px 0;
    position: relative;
}

.post_content {
    display: flex;
    background-color: #fff;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

:global(.is-mobile) .add_post {
    border-radius: 0;
}

.post_textarea {
    flex: 1;
    margin-left: 8px;
}

.content_input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    min-height: 40px;
    font-family: inherit;
    font-size: inherit;
    padding: 8px;
    border-radius: 4px;
    outline: none;
    height: 40px;
    border-color: #ccc;
    border-color: transparent;
    transition: height .4s ease;
}

.open .content_input {
    height: 80px;
}

.content_input.error::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #D8000C
}

.content_input.error:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #D8000C;
}

.content_input.error::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #D8000C;
    opacity: 1;
}

.content_input.error:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #D8000C;
}

.content_input.error::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #D8000C;
}

.content_input.error::placeholder {
    /* Most modern browsers support this now. */
    color: #D8000C;
}

.post_options {
    display: none;
}

.post_types {
    flex:1;
    display: flex;
}

.post_type {
    /* border:1px solid #ddd; */
    border-radius: 14px;
    margin-right: 8px;
    padding: 8px 16px;
    background-color: #fff;
    font-size: 14px;
    color: #333;
}

.post_type.selected {
    color:#3C9AF4;
    background-color: rgb(231, 243, 255);
    font-weight: 600;
    border-color:rgb(231, 243, 255); ;
}

.open .post_options {
    text-align: right;
    display: flex;  
    margin-top: 12px;
}