.post {
    background-color: #fff;
    padding: 16px;
    margin-bottom: 32px;
    border-radius: 8px;
    position: relative;
}

.header {
    margin-bottom: 8px;
}

.meta {
    display:flex;
    align-items: center;  
    margin-bottom: 4px; 
    margin-top: -20px; 
    font-size: 13px;
    color: #875;
    padding-left: 56px;
    position: relative;
    z-index: 20;
}

.meta * {
    color: inherit;
    font-size: inherit;    
    padding: 0 0 0 4px !important;
    text-decoration: none;
}

.content {
    margin-top: 16px;  
    padding-left: 56px;
}