.post {
    background-color: #fff;
    padding: 16px;
    margin-bottom: 32px;
    border-radius: 8px;
    position: relative;
}

.header {
    margin-bottom: 8px;
}

.created_at {
    color: #666;
    font-size: 12px;
    margin-bottom: 4px; 
    margin-top: -24px;
    padding-left: 56px;
}

.content {
    margin-top: 16px;
}

.delete {
    position: absolute;
    right:12px;
    top:16px;
    border:none;
    -webkit-appearance: none;
    background-color: transparent;
    cursor: pointer;
    color:#0094EF;
    opacity: 0.5;
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: bottom;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 14px 14px;
    background-image: url('/icons/delete.png');
    transition: opacity .1s;
}

.delete:hover {
    opacity: 1;
}