.post {
    background-color: #fff;
    padding: 16px 16px 0 16px;
    margin-bottom: 32px;
    border-radius: 8px;
    position: relative;
    border:1px solid #ddd;
}

.header {
    margin-bottom: 8px;
}

.meta {
    display:flex;
    align-items: center;  
    margin-bottom: 4px; 
    margin-top: -18px; 
    font-size: 13px;
    color: #875;
    padding-left: 54px;
    position: relative;
    z-index: 20;
}

.meta * {
    color: inherit;
    font-size: inherit;    
    padding: 0 0 0 4px !important;
    text-decoration: none;
}

.content {
    margin-top: 16px;  
    padding-left: 56px;
}

.comments {    
    background-color: #f2f2f2;
    margin: 16px -16px 0;
    /* padding: 0 16px; */
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}