.message {
    position: relative;
    padding: 4px 16px;
    background-color: #fff;
    /* border-bottom: 1px solid #ddd; */
}

:global(.is-mobile) .post {
    border-radius: 0;
}

.header {
    margin-bottom: 8px;
    display: flex;
}

.meta {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    margin-top: -14px;
    font-size: 13px;
    color: #875;
    padding-left: 4px;
    padding-left: 4px;
    position: relative;
    z-index: 20;
    flex:1;
}

:global(.is-mobile) .meta {
    flex-wrap: wrap;
}

.meta * {
    color: inherit;
    font-size: inherit;
    padding: 0 0 0 2px !important;
    text-decoration: none;
}

.content {
    margin-top: -28px;
    padding-left: 56px;
    padding-right: 56px;
}

:global(.is-mobile) .content, :global(.is-mobile) .comments {
    padding-left: 0;
    margin-top: 0;
    padding-right: 0;
}

.comments,
.no_comments {
    padding-left: 56px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.no_comments .total_comments,
.no_comments .new_comment_indicator {
    display: none;
}

.total_comments {
    display: block;
    font-size: 12px;
    margin-left: -2px;
}

.new_comment_indicator {
    width:8px;
    height: 8px;
    border-radius: 50%;
    background-color: #0094EF;
    display: block;
}

.speech_bubble {
    width: 30px;  
    height: 30px;
    line-height: 28px;
    color: #000;
    display:inline-block;
    text-decoration: none;
    text-align: center;
    background-image: url("/icons/chat-bubble.png");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    margin-left:-4px;
    font-size:12px;
}

.no_comments .speech_bubble {
    color: transparent;
}