.message {
    position: relative;
    padding: 16px;
    /* border-bottom: 1px solid #ddd; */
    background-color: #fff;
}

:global(.is-mobile) .post {
    border-radius: 0;
}

.header {
    margin-bottom: 8px;
    display: flex;
}

.meta {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    margin-top: -14px;
    font-size: 13px;
    color: #875;
    padding-left: 4px;
    padding-left: 4px;
    position: relative;
    z-index: 20;
    flex:1;
}

:global(.is-mobile) .meta {
    flex-wrap: wrap;
}

.meta * {
    color: inherit;
    font-size: inherit;
    padding: 0 0 0 2px !important;
    text-decoration: none;
}

.content {
    margin-top: -24px;
    padding-left: 56px;
    padding-right: 56px;
}

:global(.is-mobile) .content, :global(.is-mobile) .comments {
    padding-left: 0;
    margin-top: 0;
    padding-right: 0;
}

.comments {
    padding-left: 56px;
    font-size: 14px;
    text-align: right;
}

.speech_bubble {
    width: 28px;
    display:inline-block;
    color:#fff;
    text-align: center;
    height: 28px;
    line-height: 23px;
    background-image: url("/icons/speech-bubble.png");
    background-repeat: no-repeat;
    background-size: 28px 28px;
    text-decoration: none;
    font-size: 10px;
    font-weight: 600;
}

.empty_speech_bubble {
    width: 28px;
    display:inline-block;
    color:transparent;
    text-align: center;
    height: 28px;
    background-image: url("/icons/empty-speech-bubble.png");
    background-repeat: no-repeat;
    background-size: 28px 28px;
    opacity: 0.5;
}