.message {
    position: relative;
    padding: 16px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
}

:global(.is-mobile) .post {
    border-radius: 0;
}

.header {
    margin-bottom: 8px;
}

.meta {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    margin-top: -18px;
    font-size: 13px;
    color: #875;
    padding-left: 54px;
    position: relative;
    z-index: 20;
}

:global(.is-mobile) .meta {
    flex-wrap: wrap;
}

.meta * {
    color: inherit;
    font-size: inherit;
    padding: 0 0 0 4px !important;
    text-decoration: none;
}

.content {
    margin-top: 16px;
    padding-left: 56px;
}

:global(.is-mobile) .content, :global(.is-mobile) .comments {
    padding-left: 0;
}

.comments {
    margin-top: 4px; 
    padding-left: 56px;
    display: flex;  
    font-size: 14px;
    align-items: center;
}

.comment {
    flex: 1;
    color: #0094EF;   
    text-decoration: none;
}

.total_comments {   
    text-decoration: none;
    color: #0094EF;
    font-weight: 600;
}

.new_comment {
    background-color: #0094EF;  
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-left: 6px;
    margin-top: 4px;
}

.speech_bubble {
    width: 36px;
    height: 36px;
    margin-right: -4px;
    margin-top: 4px;
}